# ***DATASET CLEANING***

**Import Libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Import Dataset**

In [4]:
df = pd.read_csv("spotify_churn_dataset.csv")
df.sample(5)

,user_id,subscription_type,country,avg_daily_minutes,number_of_playlists,top_genre,skips_per_day,support_tickets,days_since_last_login,churned
476,user_477,Premium,AU,113.7,3,Hip-Hop,4,0,0,0
151,user_152,Premium,DE,143.1,5,Country,6,0,4,0
540,user_541,Free,CA,68.0,0,Electronic,0,0,10,0
449,user_450,Premium,AU,125.7,4,Country,7,0,24,0
208,user_209,Free,FR,72.9,2,Electronic,5,0,24,0

**Check Null Values**

In [5]:
df.isnull().sum()

user_id                  0
subscription_type        0
country                  0
avg_daily_minutes        0
number_of_playlists      0
top_genre                0
skips_per_day            0
support_tickets          0
days_since_last_login    0
churned                  0
dtype: int64

In [6]:
df = df[df['avg_daily_minutes'] >= 0]

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df['subscription_type'] = df['subscription_type'].str.strip().str.lower()
df['top_genre'] =df['top_genre'].str.strip().str.lower()
df['country'] = df['country'].str.strip().str.upper()

In [9]:
df.describe()

,avg_daily_minutes,number_of_playlists,skips_per_day,support_tickets,days_since_last_login,churned
count,993.000000,993.000000,993.000000,993.000000,993.000000,993.000000
mean,98.258207,3.444109,4.635448,0.232628,9.522659,0.184290
std,41.938859,2.325166,2.768274,0.515156,9.758358,0.387916
min,3.600000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,66.700000,1.000000,3.000000,0.000000,2.000000,0.000000
50%,98.200000,3.000000,5.000000,0.000000,7.000000,0.000000
75%,129.900000,5.000000,6.000000,0.000000,14.000000,0.000000
max,237.800000,10.000000,14.000000,2.000000,58.000000,1.000000

In [10]:
df.sample(5)

,user_id,subscription_type,country,avg_daily_minutes,number_of_playlists,top_genre,skips_per_day,support_tickets,days_since_last_login,churned
361,user_362,free,IN,53.7,4,jazz,1,0,5,0
255,user_256,premium,PK,77.1,1,country,6,1,15,0
73,user_74,premium,AU,120.3,4,country,5,0,8,0
248,user_249,premium,BR,139.5,4,pop,10,0,5,0
852,user_853,free,PK,79.2,4,jazz,6,0,3,0

**Encode Categorical Variables**

In [12]:
df= pd.get_dummies(df, columns=['subscription_type', 'top_genre', 'country'], drop_first=True)

In [13]:
df.sample(5)

,user_id,avg_daily_minutes,number_of_playlists,skips_per_day,support_tickets,days_since_last_login,churned,subscription_type_premium,top_genre_country,top_genre_electronic,...,top_genre_rock,country_BR,country_CA,country_DE,country_FR,country_IN,country_PK,country_RU,country_UK,country_US
899,user_900,117.7,5,8,0,4,0,True,False,False,...,False,False,False,False,False,True,False,False,False,False
866,user_867,136.0,5,10,0,9,0,True,False,False,...,False,False,False,False,False,True,False,False,False,False
996,user_997,115.1,5,2,0,4,0,True,True,False,...,False,True,False,False,False,False,False,False,False,False
601,user_602,75.7,3,5,0,0,0,False,False,False,...,True,False,True,False,False,False,False,False,False,False
216,user_217,44.5,4,11,0,20,1,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [14]:
df['churned'].value_counts()

churned
0    810
1    183
Name: count, dtype: int64

**Save Cleaned DATASET**

In [15]:
df.to_csv("spotify_cleaned.csv", index=False)